.section {
  margin: 10px 0;
  background: white;
  box-shadow: 0 0 5px #ddd;
}

.section__title {
  font-size: 20px;
  padding: 20px;
  margin: 0;  
}

.section__header {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 767px) {
  .section__header {
    grid-template-columns: 1fr;
    }
}

.section__body {
  padding: 20px;
}