.buttons {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;
}

@media (max-width: 767px) {
  .buttons {
    grid-template-columns: 1fr;
  }
}

.buttons__button {
  border: none;
  background-color: white;
  color: teal;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .buttons__button {
    padding: 0 0 20px 0;
  }
}

.buttons__button:hover {
  color: hsl(180, 100%, 35%);
}

.buttons__button:active {
  color: hsl(180, 100%, 45%);
}

.buttons__button:disabled {
  color: hsl(0, 0%, 80%);
}